.CalPanel {
    background-color: rgb(8, 122, 223);
    display: flex;
    justify-content: center;
}

.CalPanel h3 {
    width: 85%;
    height: 30px;
    margin: 0px 12% 0px 12%;
    color: red;
    background-color: blueviolet;
}
