.App {
    text-align: center;
    width: 1000px;
    margin: auto;
    background-color: #228b22;
}

.MenuBar {
	width: auto;
	height: 30px;
    padding: 2px 2px 2px 2px;
	background-color: aquamarine;
}

.Menu {
    width: 100px;
    height: 95%;
    background-color: azure;
    text-align: center;
}

.QueryPanel {
    width: 100%;
    height: 200px;
    background-color: chartreuse;
}

.CalPanel {
    padding: 2px 2px 2px 2px;
    background-color: rgb(8, 122, 223);
}

.CalPanel h3 {
    width: 85%;
    height: 30px;
    margin: 5px auto 0px auto;
    color: red;
    background-color: blueviolet;
}

.TimelineView {
    margin: 5px 5px 5px 5px;
    height: 800px;
    background-color: rgb(41, 203, 209);
    display: flex;
    justify-content: space-evenly;
}

.Timeline {
    width: 19.5%;
    height: 98%;
    margin: auto 0px auto 0px;
    background-color: lightgoldenrodyellow;
    border: solid 1px;
}

.Timeline h3 {
    width: 100%;
    margin: 0px;
    color: navy;
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Event {
    width: 90%;
    background-color: aquamarine;
    color: blue;
}
