.Timeline {
    width: 19.5%;
    height: 500px;
    background-color: lightgoldenrodyellow;
    border: solid 1px;
}

.Timeline h3 {
    margin: 0px;
    color: navy;
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}